{% extends "base.html" %}

{% block content %}
<div class="background-post">
    <div class="container">
        {% if user.is_authenticated %}
        <h2 class="new-post-heading">Create a New Post</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-signup">Submit</button>
        </form>
        {% else %}
        <p class="color login-create">Log in to create a post.</p>
        {% endif %}
    </div>
</div>

{% endblock %}