{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="background">
    <div class="container">
        <h1 class="mt-4">Profile Page</h1>
        <a class="nav-link green-text profile-create-post" href="{% url 'create_post' %}">
            <i class="fas fa-plus"></i> Create Post</a>
        <h3 class="mt-4">Your Posts</h3>
        <ul class="list-group mb-4">
            {% for post in posts %}
            <li class="list-group-item d-flex justify-content-between align-items-center dark-grey-bg">
                <div>
                    <a href="{% url 'post_detail' post.slug %}" class="green-text">{{ post.title }}</a>
                </div>
                <div>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-sm">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-sm">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}