* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Styling */

.nav-bg {
    background-color: #222222;
}

.navbar-nav .nav-link {
    color: #84DCC6 !important;
}

.navbar-nav .nav-link:hover {
    color: #ffff !important;
}

.navbar-brand {
    color: #84DCC6 !important;
}

.navbar-brand:hover {
    color: #ffff !important;
}

.nav-link:hover i{
    color: #ffff !important;
}

/* Post Styling */

.post-link {
    text-decoration: none;
    color: #84DCC6;
}

.card-title {
    margin-top: 5px;
    color: #84DCC6;
}

.card-title:hover {
    color: #ffffff;
}

.card-text {
    color: #84DCC6;
}

.col-md-4 {
    max-width: 300px;
    margin: 0;
}

.card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.7);
}

.post-description {
    font-size: 1.5rem;
}

/* Footer */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.footer {
    background-color: #222222;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form .form-control {
    margin-right: 10px;
    margin-left: 10px;
}

.btn {
    border-color: #84DCC6;
    color: #84DCC6;
}

.btn:hover {
    color: #000000;
    background-color: #84DCC6;
}

i {
    color: #84DCC6;
}

/* About Page */

.about-title {
    padding-top: 10px;
    margin-bottom: 10px;
}

.background {
    background: url("../images/about-background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #84DCC6;
    padding-top: 40px;
}

.background .container {
    background-color: rgba(34, 34, 34, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Authentication */

.authstatus {
    color: #84DCC6 !important;
}

.login-create {
    margin-left: 20px;
    font-size: 1.5rem;
}

/* Comments */

.comments {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
}

.comments p {
    color: #84DCC6 !important;
}

.comment-date {
    color: #84DCC6 !important;
    font-size: 0.7rem;
}

.comment-box {
    margin-left: 10px;
}

.comment-count {
    margin-top: 20px;
}

.color {
    color: #84DCC6;
}

/* Post Creation */

.new-post-heading {
    padding-top: 10px;
    margin-bottom: 20px;
}

.unknown-text {
    color: grey;
    font-style: italic;
}

.background-post {
    background: url("../images/about-background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #84DCC6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background-post .container {
    background-color: rgba(34, 34, 34, 0.7);
    padding: 20px;
    border-radius: 10px;
}