{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'create_post' as create_post_url %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Game Talk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/ebbcf62481.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="static/images/game-talk-favicon-180x180.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/game-talk-favicon-32x32.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/game-talk-favicon-16x16.jpg">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Game Talk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_post' %}">
                                <i class="fas fa-plus"></i> Create Post</a>
                        </li>
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="search-form" method="GET" action="{% url 'home' %}">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            name="q">
                        <button class="btn" type="submit">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                    <p class="text-end m-3 authstatus">You are logged in as {{ user }}</p>
                    {% else %}
                    <p class="text-end m-3 authstatus">You are not logged in</p>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <p class="mb-0">&copy; Made by Ryan Davis. All rights reserved.</p>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}

</body>

</html>